<ion-modal-view class="contact-modal">
    <ion-content class="contact-scroll">
      <div class="top_menu">
        <div id="navigation_menu">
          <div id="lines_button" ng-click="openMainMenuFromItem()">
          </div>
        </div>
      </div>
      <div id="contact_success_img">
      </div>
      <div class="contact_result">
        Mensaje enviado con éxito
      </div>
      <div class="contact_result_txt">
        Nos pondremos en contacto en las próximas 24hrs
      </div>
      <button class="resend-button" ng-click="openContact()">Enviar otro mensaje</button>
    </ion-content>
</ion-modal-view>
