<ion-modal-view class="new-report-modal">
  <div class="main_menu_bg"></div>
  <div id="menu_items">
    <div class="menu_item first" ng-click="closeMainMenu()">
      Mapa
    </div>
    <div class="menu_item">
      Sobre el proyecto
    </div>
    <div class="menu_item">
      Noticias
    </div>
    <div class="menu_item">
      Consejos para <br/>
      clasificar en casa
    </div>
    <div class="menu_item">
      Programas y ciclo <br/>
      de vida de los residuos
    </div>
    <div class="menu_item">
      Contacto
    </div>
  </div>
</ion-modal-view>
