<ion-view title="PMB-Map" hide-nav-bar="true">

<ion-nav-title>
</ion-nav-title>

<div id="topbarmenu">
  <div id="nav-icon-lines" ng-click="clickOnMenuIcon()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="FilterButton">
    Filtrar
  </div>
</div>

<div id="expanded_menu" class="expanded_menu">
  <p ng-click="clickOnMenuIcon()">Mapa</p>
  <p>Sobre el proyecto</p>
  <p>Noticias</p>
  <p>Eventos</p>
  <p>Consejos para clasificar en casa</p>
  <p>Programas y ciclo de vida de los residuos</p>
</div>

<div id="spinner" class="intro-spinner"><ion-spinner icon="spiral"></ion-spinner></div>

  <ion-content data-tap-disabled="true">

    <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>

  </ion-content>

<div id="foot_bar" class="foot-bar">
  <div class="street-search-bar">
    <div class="search-icon"></div>
    <label class="search-textbox-label">
        <input ion-autocomplete type="text" id="search-textbox" readonly="readonly" class="ion-autocomplete" autocomplete="off"
               ng-model="model"
               external-model="externalModel"
               selected-items="selectedItems"
               search-items="preselectedSearchItems"
               item-value-key="codigo"
               item-view-value-key="nombre"
               items-method="searchLocation(query)"
               placeholder="Ir a: escribir calle."
               items-clicked-method="itemsClicked(callback)"
               items-removed-method="itemsRemoved(callback)"
               cancel-button-clicked-method="itemsCanceled(callback)"
               max-selected-items="1"
               select-items-label="Seleccione una calle"
               manage-externally="true"
               selected-items-label="Calle"
               cancel-label="Volver"/>
    </label>
  </div>
  <div class="options-bar">
    <div id="button-find-me" class="option-active">
      <div class="button-find-me" ng-click="find_me()"></div>
    </div>
    <div class="user-options" style="display: none;">
      <div id="user_picture" class="user-picture" cache-src="{{user_cached_image}}" src-is="background" background-style="no-repeat center" ng-click="user_options()"></div>
    </div>
  </div>
  <div id="user-options-menu">
  </div>
</div>

</ion-view>
