<ion-modal-view class="contact-modal">
    <ion-content class="about-proyect-scroll">
      <div class="top_menu">
        <div id="navigation_menu">
          <div id="lines_button" ng-click="openMainMenuFromItem()">
          </div>
        </div>
      </div>
      <div class="about_title">
        Sobre el proyecto
      </div>
      <div class="about_txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in metus nunc.
        Integer ut orci et dolor egestas hendrerit.
        Vivamus pellentesque mattis nunc vitae condimentum.
      </div>
      <div class="antecedentes_title">
        Antecedentes
      </div>
      <div class="antecedentes_txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in metus nunc.
        Integer ut orci et dolor egestas hendrerit.
        Vivamus pellentesque mattis nunc vitae condimentum.
      </div>
    </ion-content>
</ion-modal-view>
