<ion-modal-view class="contact-modal">
    <ion-content class="about-proyect-scroll">
      <div class="top_menu">
        <div id="navigation_menu">
          <div id="lines_button" ng-click="openMainMenuFromItem()">
          </div>
        </div>
      </div>
      <div class="about_title">
        Sobre el proyecto
      </div>
      <div class="about_txt">
        <p>
        En Uruguay existen muchos esfuerzos destinados a la recuperación de residuos sólidos para su revalorización,
        tratamiento o disposición final adecuados. Sin embargo estos esfuerzos,
        muchas veces voluntariosos, muchas veces desgastados, se encuentran desperdigados
        y las fuerzas de cada uno se diluyen de forma tal que muchos ciudadanos creen que en Uruguay
        no se reciclan ni se recuperan residuos.
        </p>
        <p>
          Desde CEMPRE (Compromiso Empresarial Para el Reciclaje) y DATA Uruguay,
          nos propusimos facilitar a través de una aplicación única, el acceso a todos los lugares,
          contenedores, dispositivos puestos en marcha para recibir residuos o
          conjuntos de residuos preclasificados, así como disponibilizar algunas funcionalidades que
          ayuden a ubicar de manera sencilla e intuitiva, las soluciones que los usuarios tienen para
          dar un destino ambientalmente más adecuado a sus residuos.
        </p>
      </div>
      <div class="antecedentes_title">
        Antecedentes
      </div>
      <div class="antecedentes_txt">
        <p>
          Una primera versión de esta herramienta, disponible en la web fue desarrollada y
          diseñada por Agustín Kryger y Agustín Díaz, en coordinación con DATA Uruguay, de
          forma voluntaria. La misma utilizaba datos de la Intendencia de Montevideo para mostrar en
          qué lugares se podían depositar pilas, latas, plástico y vidrio.
        </p>
        <p>
          En el año 2016, CEMPRE y DATA Uruguay acordaron trabajar en conjunto para actualizar y
          ampliar la ambición de dicha herramienta, convirtiéndola en ésta aplicación móvil.
        </p>
      </div>
    </ion-content>
</ion-modal-view>
