.main_menu_bg{
  width: 100%;
  height: 100%;
  background-color: #7ed321;
  position: absolute;
  top: 0;
  left: 0;
}
#menu_items{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
}
.menu_item.first{
    margin-top: 54px;
}
.menu_item{
  width: auto;
  height: auto;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  margin-top: 28px;
  margin-left: 22px;
}

.Oval-2 {
  width: 99px;
  height: 96px;
  background-image: linear-gradient(to bottom, #b4ed50, #429321);
  position: absolute;
  right: 0;
  top: 0;
}

.Oval-2-Copy {
  width: 162px;
  height: 156px;
  background-image: linear-gradient(to bottom, #b4ed50, #429321);
  position: absolute;
  right: 0;
  top: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('./font/roboto-regular-webfont.woff2') format('woff2'),
         url('./font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./font/roboto-regular-webfont.woff2') format('woff2'),
         url('./font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robota';
    src: url('./font/roboto-regular-webfont.woff2') format('woff2'),
         url('./font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Robota';
    src: url('./font/roboto-regular-webfont.woff2') format('woff2'),
         url('./font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.intro_bg{
  width: 100%;
  height: 100%;
  background-color: #7ed321;
}

.intro-logo{
  background-image:    url(./img/logo.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 194px;
  height: 190px;
  object-fit: contain;
  position: absolute;
 left: 50%;
 transform: translateX(-50%);
 top: 169px;
}

.intro-loading{
  width: auto;
  height: 42px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 2;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 391px;
  left: 50%;
  transform: translateX(-50%);
}

.intro-spinner{
  width: 50px;
  height: 50px;
  margin: 0 auto 0 auto;
  z-index: 99999;
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);
}

.walkthrough_bg {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #b5ec45, #7ed321);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.29);
  position: absolute;
  top: 0;
  left: 0;
}

.slide_controlers {
  width: 100%;
  height: 61px;
  opacity: 0.8;
  background-color: #417505;
  /*background-color: var(--dark-grass-green);*/
  position: absolute;
  bottom: 0;
  left: 0;
}

.walkthrough_slide_img_1 {
  width: 73%;
  height: 44%;
  object-fit: contain;
  margin-top: 12%;
}

.walkthrough_slide_img_2{
  width: 76%;
  height: 40%;
  object-fit: contain;
  margin-top: 18%;
}

.walkthrough_slide_img_3{
  width: 57%;
  height: 38%;
  object-fit: contain;
  margin-top: 22%;
}

.walkthrough_slide_img_4{
  width: 74%;
  height: 44%;
  object-fit: contain;
  margin-top: 10%;
}

.walkthrough_slide_txt_1{
  /*width: 190px;*/
  height: 10%;
  font-family: Roboto;
  font-size: 17.6px;
  font-weight: 500;
  /*text-align: left;*/
  color: #417505;
  margin-top: 10%;
  /*color: var(--dark-grass-green);*/
}

.walkthrough_slide_txt_2{
  /*width: 190px;*/
  height: 10%;
  font-family: Roboto;
  font-size: 17.6px;
  font-weight: 500;
  /*text-align: left;*/
  color: #417505;
  margin-top: 9%;
  /*color: var(--dark-grass-green);*/
}

.walkthrough_slide_txt_3{
  /*width: 190px;*/
  height: 10%;
  font-family: Roboto;
  font-size: 17.6px;
  font-weight: 500;
  /*text-align: left;*/
  color: #417505;
  margin-top: 7%;
  /*color: var(--dark-grass-green);*/
}

.walkthrough_slide_txt_4{
  /*width: 190px;*/
  height: 10%;
  font-family: Roboto;
  font-size: 17.6px;
  font-weight: 500;
  /*text-align: left;*/
  color: #417505;
  margin-top: 14%;
  /*color: var(--dark-grass-green);*/
}

.walkthrough_slide_txt_long{
  width: auto;
  height: auto;
  font-family: Roboto;
  font-size: 15.4px;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  margin-top: 0px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
}

.slider-pager{
  position: absolute;
  bottom: 17%;
}

.prev-button {
  /*width: 59px;*/
  height: 18px;
  font-family: Roboto;
  font-size: 15.4px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 18px;
  bottom: 22px;
  background: transparent;
  border: 0;
}

.next-button {
  /*width: 68px;*/
  height: 18px;
  font-family: Roboto;
  font-size: 15.4px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  right: 18px;
  bottom: 22px;
  background: transparent;
  border: 0;
}

.walkthrough_slide {
  width: 92%;
  height: 65%;
  border-radius: 7.2px;
  background-color: #ffffff;
  box-shadow: 2px 1px 11px 1px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 10%;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.hidden{
  display: none;
}

#navigation_back {
  width: 13px;
  height: 23px;
  object-fit: contain;
  position: absolute;
  top: 23px;
  left: 16px;
  background-image:    url(./img/back_menu.svg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#lines_button{
  position: absolute;
  top: 28px;
  left: 6%;
  background-image:    url(./img/3_lines.svg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 22px;
  height: 20px;
}

#menu_line {
  width: 68%;
  height: 0.5px;
  border: solid 0.7px #ffffff;
  top: 50px;
  left: 25%;
  position: absolute;
  background-color: #ffffff;
}

#search_magnifying {
  width: 16px;
  height: 16px;
  object-fit: contain;
  background-image:    url(./img/search.svg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  position: absolute;
  top: 25px;
  left: 88%;
}

#search_in_dictionary {
  width: 189px;
  height: 32px;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 19px;
  left: 25%;
  background-color: transparent;
  padding: 0;
}
#search_in_dictionary::-webkit-input-placeholder {
color: white !important;
}

#search_in_dictionary:-moz-placeholder { /* Firefox 18- */
color: white !important;
}

#search_in_dictionary::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}

#search_in_dictionary:-ms-input-placeholder {
color: white !important;
}

.control_over_map{
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  z-index: 11111;
}

#gps_control{
  background-image:    url(./img/gps_icon.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  position: absolute;
  top: 180px;
  left: 11px;
}

#search_control{
  background-image:    url(./img/search_icon.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  position: absolute;
  top: 215px;
  left: 11px;
}

#container_details {
  height: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
	-webkit-transition: height 300ms ease-in;
	-moz-transition: height 300ms ease-in;
	-ms-transition: height 300ms ease-in;
	-o-transition: height 300ms ease-in;
  transition: height 300ms ease-in;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: 0.7px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#container_details.open {
	height: 50%;
}

.programa {
  width: auto;
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  left: 19px;
  top: 13px;
  position: relative;
}

.direccion {
  width: auto;
  height: 18px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  left: 19px;
  top: 28px;
  position: relative;
}

.direccion2{
  width: auto;
  height: 18px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  left: 19px;
  top: 28px;
  position: relative;
}

.watch {
  width: 21px;
  height: 29px;
  object-fit: contain;
  left: 19px;
  top: 60px;
  position: relative;
  background-image:    url(./img/horario.svg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.horario_label {
  width: 53px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  color: #4a4a4a;
  left: 49px;
  top: 28px;
  position: relative;
}

.horario_txt {
  height: 15px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  left: 48px;
  top: 30px;
  position: relative;
}

.recibe_img{
  width: 19.7px;
  height: 28.8px;
  position: relative;
  left: 19px;
  top: 60px;
  background-image:    url(./img/recibe.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.recibe_label {
  width: 53px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  color: #4a4a4a;
  left: 49px;
  top: 38px;
  position: relative;
}

.multimaterial{
  width: 85px;
  height: 34px;
  border-radius: 7px;
  background-color: #f6a623;
  position: relative;
  top: 60px;
  left: 19px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
}

#details_scroll{
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}


.top_menu {
  z-index: 111;
  width: 100%;
  height: 68.6px;
  background-image: linear-gradient(to bottom, #b5ec45, #7ed321);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.29);
  position: absolute;
  top: 0;
  left: 0;
}

body {
  height: 100%;
  width: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

#spinner{
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 99999;
}

.modal-spinner{
  width: 130px;
  height: 110px;
  margin: 0 auto 0 auto;
  z-index: 99999;
  display: none;
}

#spinner-inside-modal{
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 99999;
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  border: 1px solid #FFFFFF;
}

#spinner-inside-modal h3{
  color: #FFFFFF;
  font-size: 12px;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}

#spinner-inside-modal .spinner svg{
  width: 50px;
  height: 50px;
  stroke: #FFF;
  fill: #FFF;
  position: relative;
  left: 30%;
}

.spinner svg {
  width: 50px;
  height: 50px;
  stroke: #444;
  fill: #444;
}

.intro-icons{
  bottom: 7%;
  position: fixed;
  right: 10%;
  width: 45%;
}

.foot-bar{
  bottom: 0%;
  position: absolute;
  height: 105px;
  width: 100%;
  z-index:  -999999;
}

.street-search-bar{
  background-color: #19222b;
  border-bottom: 1px #FFFFFF solid;
  width: 100%;
  height: 35px;
  padding-left: 6%;
  padding-right: 5%;
}

.search-icon{
  width: 30px;
  height: 35px;
  background-image:    url(./img/icon-search.png);
  background-repeat:   no-repeat;
  background-position: center center;
  float: left;
}

.search-textbox-label{
  background-color: transperent;
  width: 85%;
  float: left;
}

#search-textbox{
  background-color: transperent;
  width: 85%;
  float: left;
  font-size: 11px;
}

.options-bar{
  height: 70px;
  width: 100%;
  background-color: #1a2837;
  padding-left: 5%;
  padding-right: 5%;
}

.option-active{
  width: 48px;
  height: 70px;
  background-color: #94c92c;
  float: left;
}

.option-inactive{
  width: 48px;
  height: 70px;
  background-color: #1a2837;
  float: left;
}

.button-report{
  background-image:    url(./img/icon-reportar.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-list-reports{
  background-image:    url(./img/icon-reportes.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-faq{
  background-image:    url(./img/icon-ayuda.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.button-find-me{
  background-image:    url(./img/icon-findme.png);
  background-repeat:   no-repeat;
  background-position: center center;
  width: 48px;
  height: 70px;
}

.user-options{
  width: 30px;
  height: 70px;
  background-color: #1a2837;
  float: right;
}

.user-picture{
  width: 30px;
  height: 30px;
  background-image:    url(./img/icon-user-anonymous.png);
  background-repeat:   no-repeat;
  background-position: center center;
  background-size: 30px 30px !important;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  position: relative;
  top: 30%;
}

#report-list-scroll{
  display: none;
  background-color: #e8eeec;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 105px;
  top: auto;
  border-top-color: #adb9b8;
  border-top-style: solid;
  border-top-width: 2px;
}

#offline-report-list-scroll{
  background-color: #e8eeec;
  width: 100%;
  height: auto;
  max-height: 40%;
  min-height: 20%;
  position: absolute;
  bottom: 105px;
  top: auto;
  border-top-color: #adb9b8;
  border-top-style: solid;
  border-top-width: 2px;
}

#offline-report-list-scroll h3{
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
}

#offline-report-list-scroll h3 a{
  font-size: 20px;
  color: #0078A8;
  text-align: center;
}

.report-in-list-actions a{
  font-size: 18px;
  margin-right: 15px;
  color: #0078A8;
}

.offline-pending{
  text-align: center;

}

#report-list{
  background-color: #e8eeec;
  height: 40%;
}

#report-list-offline{
  background-color: #e8eeec;
  height: 40%;
}

.list{
}

.report-list-header{
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.report-list-header h2{
  font-size:20px;
  font-weight: bold;
  color: #231f20;
}

.report-list-header p{
  text-align: justify;
  color: #231f20;
}

.report-inside-list{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  /*border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;*/
  overflow:auto;
}

.report-inside-list-offline{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  /*border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;*/
  overflow:auto;
}

.report-inside-list-active{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: auto;
  border-bottom-color: #adb9b8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow:auto;
  background-color: #FFFFFF;
}

.report-in-list-icon{
  background-repeat:   no-repeat;
  background-position: center center;
  width: 20%;
  height: 60px;
  position: relative;
  float: left;
}

.report-in-list-icon-offline{
  background-repeat:   no-repeat;
  background-position: center center;
  width: 20%;
  height: 60px;
  position: relative;
  float: left;
}

.report-in-list-info {
    margin-left: 15px;
    width: 70%;
    position: relative;
    float: left;
    height: auto;
}

.report-in-list-title{
  font-size: 15px;
  text-transform: uppercase;
  color: #6f8383;
  margin-bottom: 0px;
}

.report-in-list-category{
  font-size: 13px;
  color: #000000;
  margin-bottom: 0px;
}

.report-in-list-date{
  font-size: 11px;
  color: #6f8383;
  margin-bottom: 15px;
  font-style: italic;
  float: left;
}

.report-in-list-actions{
  font-size: 11px;
  color: #6f8383;
  margin-bottom: 15px;
  margin-right: 10px;
  float: right;
}

.report-mini-icons{
  float: left;
  margin-left: 10px;
}

.report-mini-icon{
  width: auto;
  margin-left: 7px;
  float: left;
}

.top-bar-imm{
  position: absolute;
  top: 0%;
  z-index: 9999;
  height: 30px;
  width: 100%;
}

.white-bar-imm{
  width: 100%;
  height: 15px;
  background-color: #FFFFFF;
}

.icon-imm-top{
  width: 25px;
  height: 30px;
  background-image:    url(./img/icon-imm-top-bar.png);
  background-repeat:   no-repeat;
  background-position: center center;
  float: right;
  margin-top: -15px;
  margin-right: 20px;
}

.leaflet-top .leaflet-control {
  margin-top: 110px;
}

.new-report-content {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  height: auto;
}

.new-report-slide {
  height: 100%;
}

.subcategory-hidden{
  display: none;
}

.subcategory-active{
  display: block;
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  width: 100%;
  -webkit-appearance: none;
}

.subcategory-active option {
    background: #2bac6d;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.new-report-slide-controls{
  z-index: 11111;
  position: absolute;
  bottom: 20px;
  height: 50px;
  width: 100%;
}

.image_preview{
  width: 100px;
  height: 100px;
}

.new-report-scroll{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.new-report-modal{
  background-color:rgba(0, 0, 0, 0.8);
}

.report-detail-scroll{
  height: 88%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.report-detail-back{
  position: absolute;
  top: 88%;
  right: 6%;
}

.faq-scroll{
  height: 88%;
  width: 100%;
  position: absolute;
  top: 12%;
}

.faq-container{
  padding-left: 15px;
  padding-right: 15px;
}

#faq_content{
  margin-top: 20px;
  height: 80%;
}

#faq_back_to_top{
  position: absolute;
  bottom: 5%;
  right: 6%;
}

.category-header h3{
  color: #FFFFFF;
  font-size: 14px;
}

.category-header p{
  color: #FFFFFF;
  font-size: 12px;
  font-style: italic;
}

.text-input-header h3{
  color: #FFFFFF;
  font-size: 12px;
  padding-left: 10px;
}

.category-select{
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 12px;
   font-weight: bold;
   padding: 2px 10px;
   width: 100%;
   -webkit-appearance: none;
}

.category-select option {
    background: #2bac6d;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.category-select-container {
   overflow:hidden;
   width:100%;
   -moz-border-radius: 7px 7px 7px 7px;
   -webkit-border-radius: 7px 7px 7px 7px;
   border-radius: 7px 7px 7px 7px;
   background: #2bac6d url("./img/select_arrow.png") no-repeat scroll 96% center;
   border-color: #FFFFFF;
   border-width: 1px;
   border-style: solid;
}

.field-separator{
  height: 10px;
}

.text-input{
  background-color: transparent;
  color: #ffffff;
  width:100%;
}

.text-input-container{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

.foto-header h3{
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}

.foto-footer h3{
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}

.foto-input-container{
  border-color: #ffffff;
  border-width: 1px;
  border-style: dashed;
  width:100%;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  height: 45px;
}

.foto-icon{
  width: 36px;
  height: 27px;
  background: url("./img/file-from-camera.png") no-repeat center;
  float: left;
  position: relative;
}

.foto-text{
  float: left;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  color: #FFFFFF;
  font-style: italic;
}

.foto-picker{
  margin: 7px auto;
  width: 65%;
}

.form-button{
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  width:100%;
  height: 35px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-html-modal-button{
  border-color: #1a2837;
  border-width: 2px;
  border-style: solid;
  height: 35px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: #1a2837;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

#user-options-menu{
  display: none;
  height: 160px;
  width: 200px;
  z-index: 99999;
  background-color:rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 50px;
  right: 0px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

#user-options-menu {
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 16px;
}

#auth_options{
  margin-top: 10px;
}

.nonauth-link{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-logged-link{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

#actual_photo{
  height: 100px;
  width: 100px;
  margin: 0 auto;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  background-size: 100% 100% !important;
}

#actual_photo_container h3{
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  color: #FFFFFF;
}

#actual_photo_container{
  text-align:center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0%;
  left: 60%;
}

#error_container{
  display: none;
  width: 90%;
  height: auto;
}

#error_container h3{
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: red;
}

#error_container_inside{
  display: none;
  width: 90%;
  height: auto;
  margin-top: 10px;
}

#error_container_inside h3{
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: red;
}

.slider {
  height: 100%;
  width: 100%;
  position: absolute;
}

.leaflet-control-attribution{
  display: none;
}

.report-photo{
  width: 75%;
  height: auto;
  margin: 0 auto 0 auto;
}

.report-link{
  font-size: 18px;
}

.leaflet-popup-content{
  font-size: 18px;
}

#map_crosshair{
  z-index: 99999999;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:    url(./img/crosshairs@x2.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  display: none;
}

#map_crosshair_button{
  z-index: 1000;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 105px;
  display: none;
}

#map_crosshair_button .custom-html-modal-button{
  background-color: #2bac6d;
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.button-clear.button-clear{
  color: #000000;
}

.popup-sub-title{
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

.popup-title{
  font-weight: bold;
  color: #FFFFFF;
}

.popup-container .popup{
  background-color: rgba(0, 0, 0, 0.8)
}

.popup-body{
  font-size: 14px;
  color: #FFFFFF;
  text-align: left;
}

#comment_container input[type="checkbox"]{
  width: auto;
}

.report-detail-back .custom-html-modal-button{
  display: inline;
  margin-right: 15px;
}

#comment-button{
  display: none;
}

#expanded_menu{
  width: 100%;
  height: 89%;
  background-color: rgba(148,201,44,1);
  z-index: 99999999999999;
  position: absolute;
  top: 70px;
  left: 0;
  color: #FFFFFF;
  font-size: 16pt;
  padding-left: 15px;
  padding-top: 15px;
}

.leaflet-control-container .leaflet-top .leaflet-routing-container,.leaflet-control-container .leaflet-top .leaflet-routing-container.leaflet-routing-container-hide{
  margin-top: 100px !important;
  width: 40%;
  height: 40%;
  display: none;
}

.expanded_menu{
    display: none;
}

.expanded_menu.open{
  display: block;
}

#topbarmenu{
    /*...*/
    width: 100%;
    height: 15%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 9999999999999;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    background: -moz-linear-gradient(90deg, rgba(196,255,150,1) 0%, rgba(148,201,39,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148,201,39,1)), color-stop(100%, rgba(196,255,150,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(196,255,150,1) 0%, rgba(148,201,39,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(196,255,150,1) 0%, rgba(148,201,39,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(196,255,150,1) 0%, rgba(148,201,39,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(196,255,150,1) 0%, rgba(148,201,39,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c927', endColorstr='#C4FF96',GradientType=0 ); /* ie6-9 */
}

#nav-icon-lines, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 20px;
  left: 20px;
}

#nav-icon-lines span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon-lines span:nth-child(1) {
  top: 0px;
}

#nav-icon-lines span:nth-child(2) {
  top: 18px;
}

#nav-icon-lines span:nth-child(3) {
  top: 36px;
}

#nav-icon-lines.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon-lines.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon-lines.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#FilterButton{
  position: absolute;
  top: 35px;
  right: 50px;
  color: #FFFFFF;
  font-size: 16pt;
  font-weight: bolder;
}
